<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="article-msg-id" th:value="${message.msg_id}">
                <input type="hidden" id="article-room-id" th:value="${message.room_id}">
                <input type="hidden" id="article-sender-id" th:value="${message.sender_id}">

                <input type="text" class="form-control" placeholder="" id="original_msg" th:value="${message.original_msg}">
                <input type="text" class="form-control" placeholder="" id="corrected_msg" th:value="${message.corrected_msg}">

                <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
            </article>
        </div>
    </div>
</div>
<script src="/js/article.js"></script>
</body>
</html>